In [3]:
import numpy as np
import pandas as pd

In [4]:
dataset = {
    "Departman" : ["Bilişim", "İnsan Kaynakları", "Üretim", "Üretim", "Bilişim", "İnsan Kaynakları"],
    "Çalışan" : ["Umut", "Muhammed", "Talu", "Serhat", "Efe", "Eminem"],
    "Maaş" : [3400, 2050, 4000, 2300, 3600, 2700]
}

In [5]:
dataset

{'Departman': ['Bilişim',
  'İnsan Kaynakları',
  'Üretim',
  'Üretim',
  'Bilişim',
  'İnsan Kaynakları'],
 'Çalışan': ['Umut', 'Muhammed', 'Talu', 'Serhat', 'Efe', 'Eminem'],
 'Maaş': [3400, 2050, 4000, 2300, 3600, 2700]}

In [6]:
df = pd.DataFrame(dataset)

In [7]:
df

          Departman   Çalışan  Maaş
0           Bilişim      Umut  3400
1  İnsan Kaynakları  Muhammed  2050
2            Üretim      Talu  4000
3            Üretim    Serhat  2300
4           Bilişim       Efe  3600
5  İnsan Kaynakları    Eminem  2700

In [13]:
DepGroup = df.groupby("Departman")
DepGroup

In [14]:
DepGroup.max()

                   Çalışan  Maaş
Departman
Bilişim               Umut  3600
Üretim                Talu  4000
İnsan Kaynakları  Muhammed  2700

In [15]:
DepGroup.min()

                 Çalışan  Maaş
Departman
Bilişim              Efe  3400
Üretim            Serhat  2300
İnsan Kaynakları  Eminem  2050

In [21]:
DepGroup.sum(1)

                  Maaş
Departman
Bilişim           7000
Üretim            6300
İnsan Kaynakları  4750

In [22]:
DepGroup.sum(1).loc["Bilişim"]

Maaş    7000
Name: Bilişim, dtype: int64

In [23]:
DepGroup.count()

                  Çalışan  Maaş
Departman
Bilişim                 2     2
Üretim                  2     2
İnsan Kaynakları        2     2