# Gözlem ve Değişken seçimi: .loc() , .iloc()

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = np.random.randint(0,10, (3, 3))

In [7]:
df = pd.DataFrame(data, index=['a', 'b', 'c'], columns=['column1', 'column2', 'column3'])
df

   column1  column2  column3
a        4        7        0
b        3        3        0
c        3        5        3

# .loc[]

In [9]:
df.loc['a':'c','column1':'column3']

   column1  column2  column3
a        4        7        0
b        3        3        0
c        3        5        3

In [11]:
df.loc['a':'b','column1':'column2']

   column1  column2
a        4        7
b        3        3

In [13]:
df.loc[['a', 'c'],'column1':'column3']

   column1  column2  column3
a        4        7        0
c        3        5        3

# .iloc[]

In [14]:
df

   column1  column2  column3
a        4        7        0
b        3        3        0
c        3        5        3

In [17]:
df.iloc[0:3,0:3]

   column1  column2  column3
a        4        7        0
b        3        3        0
c        3        5        3

In [23]:
df.iloc[[0, 2],0:3]

   column1  column2  column3
a        4        7        0
c        3        5        3

In [30]:
df.iloc[[0, 1, 2], [2]]

   column3
a        0
b        0
c        3