In [52]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [53]:
outerindex = ["Group1", "Group1", "Group1", "Group2", "Group2", "Group2","Group3", "Group3", "Group3",]
innerindex = ["index1", "index2", "index3", "index1", "index2", "index3", "index1", "index2", "index3"]

In [54]:
hierarchy = list(zip(outerindex, innerindex))
hierarchy

[('Group1', 'index1'),
 ('Group1', 'index2'),
 ('Group1', 'index3'),
 ('Group2', 'index1'),
 ('Group2', 'index2'),
 ('Group2', 'index3'),
 ('Group3', 'index1'),
 ('Group3', 'index2'),
 ('Group3', 'index3')]

In [55]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)
hierarchy

MultiIndex([('Group1', 'index1'),
            ('Group1', 'index2'),
            ('Group1', 'index3'),
            ('Group2', 'index1'),
            ('Group2', 'index2'),
            ('Group2', 'index3'),
            ('Group3', 'index1'),
            ('Group3', 'index2'),
            ('Group3', 'index3')],
           )

In [56]:
df = pd.DataFrame(randn(9, 3), hierarchy, ["A", "B", "C"])
df

                      A         B         C
Group1 index1  0.202841 -1.664463  1.130436
       index2 -0.971448 -0.006409 -0.290861
       index3  0.146335 -0.194778 -0.602232
Group2 index1 -0.692649 -1.440310 -0.321270
       index2  0.118097 -0.419525 -0.023999
       index3 -0.065350 -0.506201 -1.441233
Group3 index1  2.359283 -0.350892  1.549986
       index2 -0.451899 -0.061017  0.043503
       index3 -0.908157 -1.491150 -0.229376

In [57]:
df.loc["Group1"]

               A         B         C
index1  0.202841 -1.664463  1.130436
index2 -0.971448 -0.006409 -0.290861
index3  0.146335 -0.194778 -0.602232

In [58]:
df.loc["Group2"]

               A         B         C
index1 -0.692649 -1.440310 -0.321270
index2  0.118097 -0.419525 -0.023999
index3 -0.065350 -0.506201 -1.441233

In [59]:
df.loc["Group3"]

               A         B         C
index1  2.359283 -0.350892  1.549986
index2 -0.451899 -0.061017  0.043503
index3 -0.908157 -1.491150 -0.229376

In [62]:
df.loc["Group3"].loc["index1"]

A    2.359283
B   -0.350892
C    1.549986
Name: index1, dtype: float64

In [63]:
df.loc["Group3"].loc["index1"].loc["A"]

2.359282777312344

In [65]:
df.index.names

FrozenList([None, None])

In [71]:
df.index.names = ["Groups", "İndexes"]

In [72]:
df

                       A         B         C
Groups İndexes
Group1 index1   0.202841 -1.664463  1.130436
       index2  -0.971448 -0.006409 -0.290861
       index3   0.146335 -0.194778 -0.602232
Group2 index1  -0.692649 -1.440310 -0.321270
       index2   0.118097 -0.419525 -0.023999
       index3  -0.065350 -0.506201 -1.441233
Group3 index1   2.359283 -0.350892  1.549986
       index2  -0.451899 -0.061017  0.043503
       index3  -0.908157 -1.491150 -0.229376

In [77]:
df.loc[["Group1", "Group2"]]

                       A         B         C
Groups İndexes
Group1 index1   0.202841 -1.664463  1.130436
       index2  -0.971448 -0.006409 -0.290861
       index3   0.146335 -0.194778 -0.602232
Group2 index1  -0.692649 -1.440310 -0.321270
       index2   0.118097 -0.419525 -0.023999
       index3  -0.065350 -0.506201 -1.441233

In [78]:
df.loc["Group1"]

                A         B         C
İndexes
index1   0.202841 -1.664463  1.130436
index2  -0.971448 -0.006409 -0.290861
index3   0.146335 -0.194778 -0.602232

In [79]:
outerindeksler = ["Group1", "Group1", "Group1", "Group2", "Group2", "Group2", "Group3", "Group3", "Group3"]
innerindeksler = ["index1", "index2", "index3", "index1", "index2", "index3", "index1", "index2", "index3"]
liste = list(zip(outerindeksler, innerindeksler))
multiindeks_objesi = pd.MultiIndex.from_tuples(liste)
data = randn(9, 3)
colomns = ["Colomn1", "Colomn2", "Colomn3"]

df = pd.DataFrame(data, multiindeks_objesi, colomns)

In [80]:
df

                Colomn1   Colomn2   Colomn3
Group1 index1  0.191847  0.722352  0.130227
       index2 -0.806091  0.886480 -0.574814
       index3  1.466743  0.048809  2.188255
Group2 index1  0.825127  1.122132  0.645575
       index2 -0.683205  0.843151  0.364915
       index3 -1.072471  1.039427 -1.527278
Group3 index1  0.584586  0.564355  0.234370
       index2 -1.761819  0.059404  0.906221
       index3  1.070922  0.118455  0.634682

In [86]:
df.loc["Group1"].loc["index1"].loc["Colomn1"]

0.19184659490774264

In [101]:
df.loc["Group1"].loc[["index1", "index2"]]["Colomn1"]

index1    0.191847
index2   -0.806091
Name: Colomn1, dtype: float64

In [110]:
df.loc[["Group1", "Group2"]]["Colomn1"]

Group1  index1    0.191847
        index2   -0.806091
        index3    1.466743
Group2  index1    0.825127
        index2   -0.683205
        index3   -1.072471
Name: Colomn1, dtype: float64

In [111]:
df

                Colomn1   Colomn2   Colomn3
Group1 index1  0.191847  0.722352  0.130227
       index2 -0.806091  0.886480 -0.574814
       index3  1.466743  0.048809  2.188255
Group2 index1  0.825127  1.122132  0.645575
       index2 -0.683205  0.843151  0.364915
       index3 -1.072471  1.039427 -1.527278
Group3 index1  0.584586  0.564355  0.234370
       index2 -1.761819  0.059404  0.906221
       index3  1.070922  0.118455  0.634682

In [115]:
df.index.names = ["Group", "Index"]

In [116]:
df

                Colomn1   Colomn2   Colomn3
Group  Index
Group1 index1  0.191847  0.722352  0.130227
       index2 -0.806091  0.886480 -0.574814
       index3  1.466743  0.048809  2.188255
Group2 index1  0.825127  1.122132  0.645575
       index2 -0.683205  0.843151  0.364915
       index3 -1.072471  1.039427 -1.527278
Group3 index1  0.584586  0.564355  0.234370
       index2 -1.761819  0.059404  0.906221
       index3  1.070922  0.118455  0.634682