### Dataframelerin Tanımlanmaları

In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
randn(3,3)

array([[-1.42042718,  0.17073961, -1.84471375],
       [-1.5062402 , -1.02959583,  0.90742962],
       [ 0.38132268,  0.81425141, -0.04526518]])

In [6]:
df = pd.DataFrame(randn(3,3),index = ["A","B","C"],columns = ["Column1","Column2","Column3"])

In [7]:
df

    Column1   Column2   Column3
A  0.038236  0.789392 -0.120950
B  0.494801  0.739227 -0.069571
C -1.887459  2.250566  0.737256

In [8]:
df["Column1"]

A    0.038236
B    0.494801
C   -1.887459
Name: Column1, dtype: float64

In [9]:
type(df["Column1"])

pandas.core.series.Series

In [11]:
df.loc["A"]

Column1    0.038236
Column2    0.789392
Column3   -0.120950
Name: A, dtype: float64

In [12]:
type(df.loc["A"])

pandas.core.series.Series

In [14]:
df[["Column1","Column2"]]

    Column1   Column2
A  0.038236  0.789392
B  0.494801  0.739227
C -1.887459  2.250566

In [15]:
df["Column4"]

KeyError: 'Column4'

#### Dataframe'e Sütün Ekleme

In [16]:
df["Column4"] = pd.Series(randn(3),index = ["A","B","C"])

In [17]:
df

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

In [18]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"]

In [19]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.038236  0.789392 -0.120950  0.265030  0.706678
B  0.494801  0.739227 -0.069571  0.599714  1.164457
C -1.887459  2.250566  0.737256  0.008452  1.100363

#### Dataframeden Sütün Silme

In [20]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.038236  0.789392 -0.120950  0.265030  0.706678
B  0.494801  0.739227 -0.069571  0.599714  1.164457
C -1.887459  2.250566  0.737256  0.008452  1.100363

In [21]:
df.drop("Column5") # Böyle verirsek default axis değeri 0 olduğu için index silmeye çalışacak.

ValueError: labels ['Column5'] not contained in axis

In [22]:
df.drop("Column5",axis = 1)

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

In [24]:
df # değişiklikler yansımadı.

    Column1   Column2   Column3   Column4   Column5
A  0.038236  0.789392 -0.120950  0.265030  0.706678
B  0.494801  0.739227 -0.069571  0.599714  1.164457
C -1.887459  2.250566  0.737256  0.008452  1.100363

In [25]:
df.drop("Column5",axis = 1,inplace=True)

In [27]:
df # Değişiklikler yansıdı.

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

#### Loc ve ILoc

In [28]:
df

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

In [30]:
df[["Column1","Column2"]]

    Column1   Column2
A  0.038236  0.789392
B  0.494801  0.739227
C -1.887459  2.250566

In [31]:
df.loc["A"]

Column1    0.038236
Column2    0.789392
Column3   -0.120950
Column4    0.265030
Name: A, dtype: float64

In [34]:
df.iloc[0] # 0.index yani A

Column1    0.038236
Column2    0.789392
Column3   -0.120950
Column4    0.265030
Name: A, dtype: float64

In [35]:
df.loc["A","Column1"]

0.03823594391600425

In [36]:
df.loc["B","Column2"]

0.7392265808666498

In [37]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A  0.038236  0.789392
B  0.494801  0.739227