# Eksik Değerlerin İncelenmesi

In [4]:
import seaborn as sns
planets = sns.load_dataset('planets')
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
# Veri setinde eksik gözlem var mı?

In [6]:
df.isnull().values.any()

True

In [16]:
import pandas as pd
import numpy as np

In [17]:
df2 = pd.DataFrame([
    [1, 2, np.nan],
    [2, 3, 4],
    [5, 6, 7]
])

In [18]:
df2

   0  1    2
0  1  2  NaN
1  2  3  4.0
2  5  6  7.0

In [34]:
df2.isnull().any(axis=1)

0     True
1    False
2    False
dtype: bool

In [35]:
# hangi değişkende kaçar tane var

In [41]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [49]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [52]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [57]:
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64