# Sürekli Değişken Özetleri

In [1]:
import seaborn as sns
planets = sns.load_dataset('planets')
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [2]:
df_num = df.select_dtypes(include = ['float64', 'int64'])

In [3]:
df_num.head()

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [5]:
df_num.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [8]:
df_num.distance.describe()

count     808.000000
mean      264.069282
std       733.116493
min         1.350000
25%        32.560000
50%        55.250000
75%       178.500000
max      8500.000000
Name: distance, dtype: float64

**________________________________________________________________________________________________________________**

Ortalama

In [9]:
df.distance.mean()

264.06928217821786

Dolu Gözlem Sayısı

In [10]:
df.distance.count()

808

Maksimum Değer

In [11]:
df.distance.max()

8500.0

Minumum Değer

In [12]:
df.distance.min()

1.35

Medyan

In [13]:
df.distance.median()

55.25

Standart Sapma

In [14]:
df.distance.std()

733.1164929404422

In [34]:
pd.DataFrame(df.distance.aggregate(['count', 'mean', max, min, 'median', 'std'])).T

          count        mean     max   min  median         std
distance  808.0  264.069282  8500.0  1.35   55.25  733.116493

In [32]:
import pandas as pd